@background_color: #C0DEED;
@error_red: #330000;
@text_color: #000;
@font_family: "museo-sans", "comic sans ms";

body {
    font-family: @font_family;
    background-color: @background_color;
    color: @text_color;
    width:50%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: steelblue;
}

div#header {
    /* border: 1px solid black; */
    padding: 1em;
    background-color: darken(@background_color, 10%);
}

div#main {
    /* border: 1px solid blue; */
    padding: 1em;
}

form div {
    clear: both;
}

label {
    width: 30%;
    float: left;
    font-size: 2em;
}

input[type=text], input[type=submit] {
    font-size: 2em;
}

select {
    font-size: 2em;
}

.save {
    color: green;
}

.destroy {
    color: red;
}

.error {
    border: 1px solid @error_red;
    background-color:lighten(@error_red, 65%);
}
