@background_color: #C0DEED;
@error_red: #330000;
@text_color: #000;
@font_family: "museo-sans", "comic sans ms";

body {
    font-family: @font_family;
    background-color: @background_color;
    color: @text_color;
}

a {
    text-decoration: none;
    color: steelblue;
}

div#dashboard {
    background-color: darken(@background_color, 40%)
}

div#container {
    width:960px;
    margin: 0 auto;
}

div#header {
    /* border: 1px solid black; */
    padding: 1em;
    background-color: darken(@background_color, 10%);
}

div#main {
    /* border: 1px solid blue; */
    padding: 1em;
    background-color: darken(@background_color, 5%);
}

form div {
    clear: both;
}

label {
    width: 30%;
    float: left;
    font-size: 1em;
}

input[type=text], input[type=submit] {
    font-size: 2em;
}

select {
    font-size: 3em;
}

.save {
    color: green;
}

.destroy {
    color: red;
}

.error {
    border: 1px solid @error_red;
    background-color:lighten(@error_red, 65%);
}

.color_legend {
    border: 1px solid black;
    width: 2em;
    height: 2em;
    float: left;
    margin-right: 1em;
}

#canvas {
    border: 1px solid black;
    position:relative;
    /* float:left; */

    .item {
        border: 1px solid blue;
        background-color: #ffffff;
        position:absolute;
        float:left;

        select {
            font-size: 0.8em;
        }

        input[type=text] {
            font-size:0.5em;
        }
    }

    #counters_select {
        background-color: red;
    }
}


@dashboard_background_color: #EFEDDC;
@grid_color: #aaa;
@default_stroke: lighten(#712F9E, 20%);

.dashboard {
    background-color: @dashboard_background_color;
}

#items {
    background-color: @dashboard_background_color;

    .item {
        float: left;
        border: none;
        /* border: 1px solid red; */

        svg {
            /* border: 1px solid blue; */
        }
    }

    .title {
        text-align: left; /* :( but I don't care */
        font-weight: bold;
        font-size: 1.5em;
        /* color: #999999; */
    }

    line {
        stroke: @grid_color;
    }

    path {
        stroke: @default_stroke;
        stroke-width: 2px;
        fill:none;
    }

    .bstats-text-figure {
		font-size: 4em;
		font-weight:bold;
		float:right;
	}

	.bstats-text-title {
		color: #888;
		float:right;
	}
}


