body {
   font-family:"Helvetica";
    background-color: #ddd;
    color: #000;
}

a {
    text-decoration: none;
    color: steelblue;
}

div {
    float: left;
    clear:both;
}

div#chart {
    width: 800px;
    /* height: 500px; /* doesn't matter */ */
    /* border: 1px solid red; */
}

.large {
    font-weight:bold;
    font-size:8em;
}

.legend text {
    font-size: 10px;
}

label {
    width: 100px;
    border; 1px solid red;
}

svg {
    /* border: 1px solid #ccc; */
}

text {
    font-family: Helvetica;
    fill: black;
    stroke: black;
    stroke-width:0px;
}

/* .chart { */
/*     fill: steelblue; */
/*     stroke: white; */
/*     margin: 20px; */
/* } */

line {
    stroke: #bbb;
}

path {
    stroke: steelblue;
    stroke-width: 1.5px;
    fill:none;
}

.tick {
    color: red;
}
