body {
   font-family:"Helvetica";
    background-color: #ddd;
    color: #000;
}

a {
    text-decoration: none;
    color: steelblue;
}

div {
    float: left;
    /* border:1px solid; */
}

div#nav {
    margin-bottom: 10px;
    width: 100%;
}

div#filters {
    float:right;
}

div#container {
    width: 100%;
    /* height: 600px; */
    /* border: 1px solid black; */
}

div.chart {
    margin-top: 20px;
    width: 49%;
    /* height: 70%; */
    /* border: 1px solid #AAA; */
    border-bottom: 1px solid #AAA;
}

div#legend {
    margin-left: 10px;
}


.large {
    font-weight:bold;
    font-size:8em;
}

.title {
    text-align: center; /* :( but I don't care */
    font-weight: bold;
    float: none;
}


.square {
    width:15px;
    height: 15px;
    margin: 0 5px 0 5px;
}

.selected {
    color: #CC0000;
}

@facebook: #3B5998;

@userpass: #CC0000;

@android: #00DD00;
@iphone: #3333DD;

@vote_recorded: #008800;

div.facebook {
    background-color: @facebook;
}

div.userpass {
    background-color: @userpass;
}

div.android {
    background-color: @android;
}

div.iphone {
    background-color: @iphone;
}

div.vote_recorded {
    background-color: @vote_recorded;
}

.facebook_user_login_success {
    stroke: @facebook;
}

.userpass_user_login_success {
    stroke: @userpass;
}

.facebook_purchase_success {
    stroke: @facebook;
}

.psms_purchase_success {
    stroke: @android;
}

.itunes_purchase_success {
    stroke: @iphone;
}

.vote_recorded {
    stroke: @vote_recorded;
}

circle { stroke: #000000 !important; }
circle.facebook_user_login_success { fill: @facebook; }
circle.userpass_user_login_success { fill: @userpass; }
circle.vote_recorded { fill: @vote_recorded; }



svg {
   /* border: 1px solid #aaa; */
}

text {
    font-family: Helvetica;
    fill: black;
    stroke: black;
    stroke-width:0px;
}

line {
    stroke: #bbb;
}

path {
    stroke: steelblue;
    stroke-width: 1.5px;
    fill:none;
}


/* ------------- ISOTOPE ---------------- */
.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    transition-property:         transform, opacity;
}
